@using TestLab.Entities.Pagination;
@using TestLab.Entities;
@model PagenableCollection<Post>;
@{
    ViewData["Title"] = "News";
}

<div class="text-center">
    <h1>News</h1>
</div>

@await Component.InvokeAsync("PaginationCountSelector", Model.ViewModel )

<div class="d-flex flex-wrap justify-content-around align-content-around">

    @foreach (Post post in Model.GetByCurrentPage())
    {
        <div class="card mb-4" style="width: 18rem;">
            <img class="card-img-top" src="@post.Image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>
                <p class="card-text">@post.Description</p>
                <p class="text-muted">@post.ReleaseDate</p>
                <a href="/news/post?id=@post.Id" class="btn btn-primary">Read More</a>
            </div>
        </div>
    }

</div>

@await Component.InvokeAsync("Pagination", Model.ViewModel )