@{
    ViewData["Title"] = "Contacts";
}

<h1>Contacts</h1>

<div class="card p-3 shadow">
    <div class="row">
        <div class="col-lg-4">
            <img src="/img/logo.png" alt="Image" class="img-fluid"/>
        </div>
        <div class="col-lg-8">
            <h3 class="display-4">Main Developer</h3>
            <div>
                <ul class="list-group">
                    <li class="list-group-item">Name: <strong>Vats Yaroslav</strong></li>
                    <li class="list-group-item">Phone: <strong>+38(098)435-9669</strong></li>
                    <li class="list-group-item">Phone: <strong>+38(098)435-9669</strong></li>
                    <li class="list-group-item">Profile: <strong><a href="/account?profile?id=6">Profile</a></strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
