@model PaginationViewModel

<div class="d-flex justify-content-center align-items-center mb-4">
    <span class="mr-3">Count:</span>
    <select class="custom-select w-50" id="countSelector">

        @foreach (int option in Model.PossibleCounts)
        {
            if (option == Model.CountPerPage)
            {
                <option value="@option" selected>@option</option>
            }
            else 
            {
                <option value="@option">@option</option>
            }

        }

    </select>
    <button class="btn btn-primary ml-3" id="apply">Apply</button>
</div>

<script src="~/js/PaginationCountSelector.js"></script>