@model PaginationViewModel


<select class="form-control" name="count" id="countSelector">

    @foreach (int option in Model.PossibleCounts)
    {
        if (option == Model.CountPerPage)
        {
            <option value="@option" selected>@option</option>
        }
        else
        {
            <option value="@option">@option</option>
        }

    }

</select>

<script src="~/js/pagination-count-selector.js" defer></script>