<footer class="border-top footer text-muted">
    <div class="container text-center">
        &copy; 2022 - TestLab - 
        <a asp-area="" asp-controller="AboutUs" asp-action="Privacy">Privacy</a>
        <a asp-area="" asp-controller="AboutUs" asp-action="Contacts">Contacts</a>
    </div>
</footer>