@{
    ViewData["Title"] = "Registration";
}
@model FormViewModel

<link href="~/css/forms.css" rel="stylesheet" />

<div class="text-center form-holder">
    <form class="form" asp-controller="account" asp-action="register" method="post">

        <img class="mb-4" src="~/img/logo.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please register</h1>

        @await Component.InvokeAsync("Message", Model)

        <div class="form-inputs">
            <input type="text" name="name" id="inputName" class="form-control" value="@Model?.Form["name"]" placeholder="Name" required autofocus>

            <input type="text" name="login" id="inputLogin" class="form-control" value="@Model?.Form["login"]" placeholder="Login" required>

            <input type="email"name="email" id="inputEmail" class="form-control" value="@Model?.Form["email"]" placeholder="Email address" required>

            <input type="password" name="password" id="inputPassword" class="form-control" value="@Model?.Form["password"]" placeholder="Password" required>

            <input type="password" name="confirmPassword" id="inputConfirmPassword" class="form-control" value="@Model?.Form["confirmPassword"]" placeholder="Confirm Password" required>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="termsOfUse" value="true"> <a href="/aboutus/termsofuse" class="text-dark">Terms of use</a>
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>

