@{
    ViewData["Title"] = "Successfully Login";
}

<div class="p-5 d-flex align-items-center justify-content-center flex-column">
    <h1>You successfully login into account</h1>

    <a href="/home" class="btn btn-primary mt-3">To Home Page</a>
</div>
