@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To TestLab Website.</p>
    <a href="/account/registration" class="btn btn-primary text-white shadow">Get Started <i class="bi bi-arrow-right"></i></a>
</div>


<div class="row mt-3">
    <div class="col-lg-3">
        <div class="card m-1 p-3 shadow mb-lg-0">
            <img src="/img/logo.png" alt="Image" />
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card m-1 p-3 shadow mb-lg-0">
            <h5>What is TestLab?</h5>
            <p>TestLab is a toolkit site where you can convert and format your files.</p>
            <p>To get started, you can take a look at the page on the blog <a href="/news/post?id=18">about creating projects</a>.</p>
            <a href="/project/create" class="btn btn-primary text-white mb-1">Create Project</a>
            <p class="text-danger">* work with projects require to be logged in</p>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-lg-6">
        <div class="card m-1 p-3 shadow mb-lg-0">
            <h5>About Blog System</h5>
            <p>Our site has a blog and post system. There you can learn more about the site or the latest news.</p>
            <a href="/news" class="btn btn-primary text-white mb-3">Watch Latest Posts</a>
            <p>Users with Editor status and above can write posts. For Editors there is a convenient post editor.</p>
            <a href="/editor" class="btn btn-primary text-white mb-1">Check Editor</a>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card m-1 p-3 shadow mb-lg-0">
            <img src="/img/news.png" alt="Image" />
        </div>
    </div>
</div>